/* Основные стили для всего документа */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffcccc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    /* Высота для всего экрана */
    overflow: hidden;
    /* Убираем прокрутку для body */
}


/* Контейнер мессенджера */

.messenger {
    background-color: #ff4d4d;
    width: 100%;
    height: 100vh;
    /* Высота на весь экран */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Сообщения добавляются снизу */
    position: relative;
    overflow: hidden;
    /* Скрываем прокрутку */
}


/* Стили для области сообщений */

#messages {
    padding: 15px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 48px;
    overflow-y: auto;
    flex: 1;
    /* Растягиваем область сообщений */
    margin-bottom: 80px;
    /* Добавляем отступ внизу для панели ввода */
}


/* Сообщения в чате */

#messages div {
    background-color: blue;
    color: #fff;
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    align-self: flex-start;
    font-size: 48px;
    overflow-wrap: break-word;
}


/* Стили для ваших сообщений */

#messages div.your-message {
    background-color: #cc0000;
    align-self: flex-end;
    overflow-wrap: break-word;
}


/* Фиксированная панель ввода внизу экрана */

.input-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    /* Минимальный отступ для элементов */
    background-color: #ff4d4d;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    /* Фиксируем область внизу экрана */
    bottom: 0;
    left: 0;
    z-index: 10;
}


/* Поле ввода */

input[type="text"] {
    padding: 15px;
    font-size: 42px;
    margin-bottom: 10px;
    /* Небольшой отступ */
    border: 2px solid #b30000;
    border-radius: 12px;
    outline: none;
    width: calc(100% - 40px);
    /* Уменьшаем отступы */
    box-sizing: border-box;
}


/* Стили кнопок */

button {
    background-color: rgb(102, 0, 128);
    /* Вернем правильный цвет для кнопок */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px;
    /* Уменьшаем padding для кнопок */
    font-size: 36px;
    /* Немного уменьшен размер шрифта */
    margin: 5px 0;
    /* Меньший отступ для кнопок */
    border-radius: 12px;
    width: 100%;
}

button:hover {
    background-color: #cc0000;
}

#clearButton {
    background-color: #ff1a1a;
}

#clearButton:hover {
    background-color: #ff4d4d;
}