/* Основные стили для всего документа */

body {
    /* Удалите overflow: hidden; и любые другие ограничения на высоту */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffcccc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}


/* Контейнер мессенджера */

.messenger {
    background-color: #ff4d4d;
    width: 100%;
    min-height: 100vh;
    /* Используем min-height, чтобы разрешить увеличение высоты при добавлении новых сообщений */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Ставим flex-start, чтобы сообщения добавлялись снизу */
    position: relative;
    overflow-y: auto;
    /* Разрешаем вертикальную прокрутку главного контейнера */
}


/* Стили для области сообщений */

#messages {
    /* Уберите ограничения на высоту и другие свойства, которые сжимают сообщения */
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 48px;
}


/* Сообщения в чате */

#messages div {
    background-color: blue;
    color: #fff;
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    align-self: flex-start;
    font-size: 48px;
    overflow-wrap: break-word;
}


/* Стили для ваших сообщений */

#messages div.your-message {
    background-color: #cc0000;
    align-self: flex-end;
    overflow-wrap: break-word;
}


/* Фиксированная панель ввода внизу экрана */

.input-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #ff4d4d;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}


/* Поле ввода */

input[type="text"] {
    padding: 30px;
    font-size: 42px;
    margin-bottom: 20px;
    border: 2px solid #b30000;
    border-radius: 12px;
    outline: none;
    width: calc(100% - 50px);
    box-sizing: border-box;
}


/* Стили кнопок */

button {
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 30px;
    font-size: 42px;
    margin: 10px 0;
    border-radius: 12px;
    width: 100%;
}

button:hover {
    background-color: #cc0000;
}

#clearButton {
    background-color: #ff1a1a;
}

#clearButton:hover {
    background-color: #ff4d4d;
}