/* Основные стили для всего документа */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffcccc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    /* Высота на весь экран */
    overflow: hidden;
}


/* Контейнер мессенджера */

.messenger {
    background-color: #ff4d4d;
    width: 100%;
    height: 100vh;
    /* Высота на весь экран */
    display: flex;
    flex-direction: column-reverse;
    /* Изменяем направление flex, чтобы новые сообщения были снизу */
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}


/* Стили для области сообщений */

#messages {
    padding: 10px 15px;
    /* Немного уменьшим отступы */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column-reverse;
    /* Изменяем направление flex для отображения новых сообщений снизу */
    justify-content: flex-start;
    font-size: 48px;
    overflow-y: auto;
    flex-grow: 1;
    /* Позволяет области сообщений растягиваться */
    margin-top: 100px;
    /* Отступ для панели ввода */
}


/* Сообщения в чате */

#messages div {
    background-color: blue;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-start;
    font-size: 36px;
    /* Снизим размер шрифта для лучшего размещения */
    overflow-wrap: break-word;
}


/* Стили для ваших сообщений */

#messages div.your-message {
    background-color: #cc0000;
    align-self: flex-end;
    overflow-wrap: break-word;
}


/* Фиксированная панель ввода внизу экрана */

.input-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    /* Минимальный отступ */
    background-color: #ff4d4d;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    /* Фиксируем область внизу экрана */
    bottom: 0;
    left: 0;
    z-index: 10;
}


/* Поле ввода */

input[type="text"] {
    padding: 15px;
    font-size: 36px;
    /* Снизим размер шрифта для лучшего размещения */
    margin-bottom: 10px;
    border: 2px solid #b30000;
    border-radius: 12px;
    outline: none;
    width: calc(100% - 30px);
    /* Уменьшим отступы */
    box-sizing: border-box;
}


/* Стили кнопок */

button {
    background-color: greenyellow;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px;
    font-size: 36px;
    margin: 5px 0;
    border-radius: 12px;
    width: 100%;
}

button:hover {
    background-color: #cc0000;
}

#clearButton {
    background-color: #ff1a1a;
}

#clearButton:hover {
    background-color: #ff4d4d;
}